.category-list {
    position: absolute;
    top: 40px;
    margin: 0;
    padding: 0;
    background-color: white;
    list-style: none;
    width: 100%;
    border-radius: 1px;
    max-height: 100px;
    overflow-y: scroll;
}

.show-borders {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

.category-list-item {
    padding: 4px 8px;
    cursor: pointer;
}

.category-list-item:hover {
    background-color: lightgray;
}
